
config BCACHE_FS
	tristate "bcachefs filesystem support"
	depends on BLOCK
	depends on (64BIT || LBDAF)
	select EXPORTFS
	select CLOSURES
	select LIBCRC32C
	select CRYPTO_SHA1
	select FS_POSIX_ACL
	select LZ4_COMPRESS
	select LZ4_DECOMPRESS
	select ZLIB_DEFLATE
	select ZLIB_INFLATE
	select CRYPTO_SHA256
	select COMPACTION
	---help---
	The bcachefs filesystem - a modern, copy on write filesystem, with
	support for multiple devices, compression, checksumming, etc.

config BCACHEFS_DEBUG
	bool "bcachefs debugging"
	depends on BCACHE_FS
	---help---
	Don't select this option unless you're a developer

	Enables extra debugging tools, allows expensive runtime checks to be
	turned on.
